@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  min-height: 100dvh;
  overflow: visible;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: none;
  background-color: black;
}

input, textarea {
  font-size: 16px; /* evita zoom su iPhone */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
